@media (min-width: 480px) {
  .main {
    overflow-y: scroll;
  }
}

body {
  margin: 0;
  background-color: rgb(202, 203, 205);
}
h4 {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
  margin: 0;
}
p {
  color: rgb(69, 69, 69);
}
li:hover {
  background-color: rgb(55, 55, 55);
  cursor: pointer;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(45, 45, 45);
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-left: 0.5rem;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-around;
}
.header-item {
  padding: 2px 0.5rem 2px;
  margin-left: 0.5rem;
  border-bottom: 1px solid rgb(157, 156, 156);
}
.header-item:hover {
  color: black;
  border-bottom: 1px solid rgb(59, 58, 58);
  cursor: pointer;
}
.aside {
  background-color: rgb(51, 63, 77);
  width: 20%;
  min-width: 100px;
  padding-left: 0.5rem;
}
.font-color {
  color: rgb(207, 208, 208);
}
.close-sidebar {
  /* display: none; */
}
.nav-header {
  padding-top: 1rem;
  color: rgb(240, 240, 240);
}
.close {
  align-self: flex-end;
}

.main {
  align-self: center;
  background-color: rgb(255, 255, 255);
  width: 90%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content {
  border-bottom: 1px solid rgb(190, 190, 190);
}
.container {
  display: flex;
  flex-direction: row;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.close-sidebar:checked + aside {
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
}
